{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}{{ user['first_name'] }}'s Portfolio{% endblock%}</h1>
{% endblock %}

{% block content %}
  <div class="left">
    <div class="profile">
      <ul>
        <li><h3>Name: {{ user['first_name'] }} {{ user['last_name'] }}</h3></li>
        <li><h3>Email: {{ user['email'] }}</h3></li>
        {% if student != None %}
          <li><h3>School: {{ student['school'] }}</h3></li>
          {% if student['major'] != None %}
          <li><h3>Major: {{ student['major'] }}</h3></li>
          {% endif %}
        {% elif representative != None %}
          <li><h3>Company: {{ representative['company'] }}</h3></li>
        {% endif %}
        <li><h3>Bio: {{ user['bio'] }}</h3></li>
      </ul>
    </div>
    <div>
    {% if student != None %}
      <ul>
        <li><a href="/experiences/{{ user['id'] }}">Experiences</a></li>
        <li><a href="/ideas/{{ user['id'] }}">Ideas</a></li>
      </ul>
    {% endif %}
    </div>
  </div>

  <div class="right">

  </div>
{% endblock %}
